

body{
position: relative;
width: 1440px;
height: 4114px;
background: #FDFDFD;

}

.background{
    background-color: #10b581; 
    margin-left: -10px;
    margin-top: -22px;
    width: 101%;
    height: 800px; 
    position: absolute;
    z-index: -10;
    /* padding-left: 200px; */
}

.head{
    margin-left: 395px;
    width: 690px;
    height: 24px;
    margin-top: 36px;
    text-decoration: none; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: Raleway;
    position: absolute;

}
    
.texthead{
    text-decoration: none; 
    color: #ffffff;
}

.photo{
    position: absolute;
    width: 28;
    height: 22;
    top: 212px;
    left: 660px;
}

.text555{
    position: absolute;
    width: 28;
    height: 22;
    top: 212px;
    left: 700px;
    font-family: Raleway;
}

.mid1{
    position: absolute;
    margin-top: 274px;
    font-family: Raleway;
    font-size: 58px;
    color: #FDFDFD;
    width: 600px;
    margin-left: 420px;
    text-align: center;
}

.mid2{
    position: absolute;
    margin-top: 434px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #FDFDFD;
    width: 400px;
    margin-left: 530px;
    text-align: center;
}

.midimg{
    position: absolute;
    margin-left: 625px;
    margin-top: 552px;
    transition: all .3s ease;
}

.midimg:hover{
    transform: scale(0.8); 
}

.cotseti{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 120px;
    margin-left: 135px;
}

.c1{
    transition: all .2s ease;
}

.c1:hover{
    transform: scale(1.3); 
}

.c2{
    transition: all .2s ease;
}

.c2:hover{
    transform: scale(1.3); 
}

.c3{
    transition: all .2s ease;
}

.c3:hover{
    transform: scale(1.3); 
}

.img1{
    position: absolute;
    width: 270;
    height: 330;
    top: 350px;
    left: 135px;
    border-top-right-radius: 80px;
    border-width: 1px;
}

.img2{
    position: absolute;
    width: 270;
    height: 330;
    top: 120px;
    left: 1035px;
    border-top-left-radius: 80px;
    border-width: 1px;
}

.scrolldw{
    position: absolute;
    width: 10;
    height: 129;
    top: 551px;
    left: 1295px;
}

.num{
    top: 880px;
    left: 135px; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 58px;
    font-family: "Raleway", sans-serif;
    position: absolute;
    width: 1170px;
    color: #10b581;
}

.n100{
    margin-left: 85px;
}
.n2000{
    margin-right: 85px;
}

.ntext{
    top: 1020px;
    left: 135px; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    position: absolute;
    width: 1170px;
    color: #353A5A;
}

.tt1{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 250px;
    margin-left: 10px;
}

.tt2{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 280px;
    margin-left: 45px;
}

.tt3{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 250px;
    margin-right: 45px;
}

.tt4{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 180px;
    margin-right: 65px;
}

.sast1{
    position: absolute;
    width: 491;
    height: 58;
    top: 1212px;
    left: 135px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #353A5A;
}

.sast2{
    position: absolute;
    width: 480px;
    height: 100;
    top: 1340px;
    left: 135px;
    font-family: Raleway;
    font-size: 16px;
    line-height: 25px;
    color: #353A5A;
}

.sast3{
    position: absolute;
    width: 480px;
    height: 100;
    top: 1460px;
    left: 135px;
    font-family: Raleway;
    font-size: 16px;
    line-height: 25px;
    color: #353A5A;
}

.sasbutton{
    position: absolute;
    width: 230;
    height: 56;
    top: 1570px;
    left: 135px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s ease;
}

.sasbutton:hover{
    transform: scale(0.8); 
}

.grupal{
    position: absolute;
    margin-top: 60px;
}

.ph1{
    position: absolute;
    width: 170;
    height: 170;
    top: 1147px;
    left: 735px;
    border-bottom-left-radius: 80px;
}

.ph2{
    width: 170;
    height: 170;
    top: 1147px;
    left: 935px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: absolute;
}

.ph3{
    width: 170;
    height: 170;
    top: 1147px;
    left: 1135px;
    border-bottom-right-radius: 80px;
    position: absolute;
}

.ph4{
    position: absolute;
    width: 170;
    height: 170;
    top: 1399px;
    left: 735px;
    border-top-left-radius: 80px;
}

.ph5{
    position: absolute;
    width: 170;
    height: 170;
    top: 1398px;
    left: 935px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
} 

.ph6{
    position: absolute;
    width: 170;
    height: 170;
    top: 1398px;
    left: 1135px;
    border-top-right-radius: 80px;
}

.textl{
    position: absolute;
    margin-top: 45px;
}

.t1{
    position: absolute;
    width: 170px;
    top: 1332px;
    left: 735px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #353A5A;
}

.t2{
    position: absolute;
    width: 170px;
    height: 36;
    top: 1332px;
    left: 935px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #353A5A;
}

.t3{
    position: absolute;
    width: 170px;
    height: 36;
    top: 1332px;
    left: 1135px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #353A5A;
}

.t4{
    position: absolute;
    width: 170px;
    height: 36;
    top: 1583px;
    left: 735px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center; 
    color: #353A5A;
}

.t5{
    position: absolute;
    width: 170px;
    height: 36;
    top: 1583px;
    left: 935px;
    font-family: Raleway;
    font-weight: 400px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;     
    color: #353A5A;   
}

.t6{
    position: absolute;
    width: 170px;
    height: 36;
    top: 1583px;
    left: 1135px;
    font-family: Raleway;
    font-weight: 400px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;       
    color: #353A5A; 
}

.background2{
    background-color: #10b581; 
    margin-left: -10px;
    margin-top: 1815px;
    width: 101%;
    height: 650px; 
    position: absolute;
    z-index: -10;
}

.m123{
    position: absolute;
    width: 470px;
    height: 332px;
    top: 1960px;
    left: 135px;
    border-top-right-radius: 120px;
}

.m321{
    position: absolute;
    width: 470px;
    height: 332px;
    top: 1930px;
    left: 165px;
    border-top-right-radius: 120px;
    z-index: -1;
}

.text123{
    position: absolute;
    width: 500px;
    height: 140px;
    top: 1870px;
    left: 735px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: 0%;    
    color: #FDFDFD;
}

.text321{
    position: absolute;
    width: 479px;
    height: 96px;
    top: 2080px;
    left: 735px;
    font-family: Raleway;
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;      
    color: #FDFDFD;  
}

.button123{
    position: absolute;
    width: 230;
    height: 56;
    top: 2235px;
    left: 735px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s ease;
}

.button123:hover{
   transform: scale(0.8); 
}

.t345{
    position: absolute;
 
    top: 2561px;
    left: 452px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 58px;
    text-align: center;
    color: #353A5A;
}

.pops{
    position: absolute;
    width: 1170px;
    height: 460px;
    top: 2650px;
    left: 110px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.popsbutton{
    position: absolute;
    width: 230;
    height: 56;
    top: 3060px;
    left: 605px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s ease;
}

.popsbutton:hover{
    transform: scale(0.8); 
}

.backgroundphoto{
    position: absolute;
    width: 1440;
    height: 578;
    top: 3260px;
    z-index: -10;
}

.downline{
    position: absolute;
    top: 210px;
}

.lasttext{
    position: absolute;
    width: 508px;
    height: 140px;
    top: 3331px;
    left: 735px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #353A5A;
}

.lasttext2{
    position: absolute;
    width: 508px;
    height: 72px;
    top: 3531px;
    left: 735px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #353A5A;
}

.lastbutton{
    position: absolute;
    top: 3668px;
    left: 735px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s ease;
}

.lastbutton:hover{
    transform: scale(0.8); 
}

.logodown{
    position: absolute;
    top: 3819px;
    left: 135px;
}

.d1{
    position: absolute;
    width: 270px;
    height: 54px;
    top: 3868px;
    left: 135px;
    font-family: Raleway;
    color: #353A5A;
    font-size: 14px;
}

/* .sotseti{
    position: absolute;
    width: 116px;
    height: 22px;
    top: 3969px;
    l]
} */

.ss1{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 3969px;
    left: 135px;
    filter: brightness(0.65);
    transition: all .5s ease;
}

.ss2{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 3969px;
    left: 182px;
    filter: brightness(0.65);
    transition: all .5s ease;
}

.ss3{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 3969px;
    left: 229px;
    filter: brightness(0.65);
    transition: all .5s ease;
}

.ss3:hover{
    transform: scale(1.5); 
}
.ss2:hover{
    transform: scale(1.5); 
}
.ss1:hover{
    transform: scale(1.5); 
}

.ttt{
    position: absolute;
    top: 190px;
    color: #353A5A;

}

.textl1{
    position: absolute;
    top: 3819px;
    left: 505px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textl2{
    position: absolute;
    top: 3866px;
    left: 505px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textl3{
    position: absolute;
    top: 3902px;
    left: 505px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textl4{
    position: absolute;
    top: 3938px;
    left: 505px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textl5{
    position: absolute;
    top: 3974px;
    left: 505px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textj1{
    position: absolute;
    top: 3819px;
    left: 705px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textj2{
    position: absolute;
    top: 3866px;
    left: 705px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textj3{
    position: absolute;
    top: 3902px;
    left: 705px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textj4{
    position: absolute;
    top: 3938px;
    left: 705px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.textj5{
    position: absolute;
    top: 3974px;
    left: 705px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.texty1{
    position: absolute;
    top: 3819px;
    left: 905px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.texty2{
    position: absolute;
    top: 3866px;
    left: 905px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.texty3{
    position: absolute;
    top: 3902px;
    left: 905px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.texty4{
    position: absolute;
    top: 3938px;
    left: 905px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.texty5{
    position: absolute;
    top: 3974px;
    left: 905px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}


.tetxs1{
    position: absolute;
    top: 3819px;
    left: 1105px;
    font-family: Raleway;
    font-size: 16px;
}

.tetxs2{
    position: absolute;
    width: 182px;
    top: 3865px;
    left: 1105px;
    font-family: Raleway;
    font-size: 16px;
    color: #353A5A;
}

.l1{
    position: absolute;
    top: 3819px;
    left: 505px;
}

.l2{
    position: absolute;
    top: 3819px;
    left: 705px;
}

.l3{
    position: absolute;

    top: 3819px;
    left: 905px;

}

.l4{
    position: absolute;
    top: 3819px;
    left: 1105px;
}

.las1{
    position: absolute;
    width: 258px;
    top: 4070px;
    left: 135px;
    color: #353A5A;
    font-family: Raleway;
    font-size: 14px;
}

.las2{
    position: absolute;
    width: 293px;
    top: 4070px;
    left: 856px;
    color: #353A5A;
    font-family: Raleway;
    font-size: 14px;
}

.las3{
    position: absolute;
    width: 126px;
    top: 4070px;
    left: 1179px;
    color: #353A5A;
    font-family: Raleway;
    font-size: 14px;
}

.secret{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 4260px;
}